<div class="success">
  <h2><%= params[:user][:name] %> 様</h2>
  <hr />
  <p>
    この度は「CONNECTOR」に登録して頂きありがとうございます。
  </p>
  <p>
    正式サービス開始までもうしばらくお待ち下さい。
  </p>
  <p>
    by Rakam Inc
  </p>
  <p><a href="/">TOPに戻る</a></p>
  <hr />
</div>
