<header class="top">
  <p class="logo">ロゴ</p>
  <ul class="menu">
    <li class="home"><a href="/">TOP</a></li>
  </ul>
</header>

<footer>
  <small>Made by <a href="https://rakam.co">Rakam Inc</a></small><br>
  <small>&copy;Rakam Inc All rights Reserved.</small>
</footer>