<header class="top">
  <p class="logo">ロゴ</p>
  <ul class="menu">
    <li class="home"><a href="/">TOP</a></li>
  </ul>
</header>

<section>
  <div class="new" id="new">
    <h2 class="acount">アカウントを作成</h2>
    <p class="facebook">Facebook で登録</p>
    <p class="twitter">Twitter で登録</p>
    <p class="google">Google で登録</p><br>

    <small>-------------- または --------------</small>
    <p class="use_mail" id="use_mail">メールアドレスで登録</p><br>
    <small>アカウントをお持ちですか？  <a href="/login">ログイン</a></small>
  </div>

  <div class="make" id="make">
    <h2 class="acount">アカウントを作成</h2>

    <small>--------- または ---------</small>
    <p class="sns" id="sns">SNS で登録</p><br>
    <small>アカウントをお持ちですか？  <a href="/login">ログイン</a></small>
  </div>
</section>

<footer>
  <small>Made by <a href="https://rakam.co">Rakam Inc</a></small><br>
  <small>&copy;Rakam Inc All rights Reserved.</small>
</footer>
