<header class="top">
  <p class="logo">ロゴ</p>
  <ul class="menu">
    <li><a href=".">CONNECTORとは</a></li>
    <li><a href=".">使い方</a></li>
    <li><a href=".">お申し込みの流れ</a></li>
    <li><a href="." class="login">ログイン</a></li>
  </ul>
</header>

<section class="main">
  <h1 class="image">ここに画像</h1>
</section>

<section class="company">
  <ul class="type">
    <li>ロゴ</li>
    <li>ロゴ</li>
    <li>ロゴ</li>
    <li>ロゴ</li>
  </ul>
</section>

