<header class="top">
  <p class="logo">ロゴ</p>
  <ul class="menu">
    <li><a href="#about">CONNECTORとは</a></li>
    <li><a href="#use">使い方</a></li>
    <li><a href="#how">お申し込みの流れ</a></li>
<!--    <li><a href="/login">ログイン</a></li>-->
    <li><a href="/new" class="new_acount">会員登録</a></li>
  </ul>
</header>

<section class="main">
  <h1 class="image">ここに画像</h1>
</section>

<section class="company">
  <ul class="type">
    <li>ロゴ</li>
    <li>ロゴ</li>
    <li>ロゴ</li>
    <li>ロゴ</li>
  </ul>
</section>

<section id="about">
  <h1>CONNECTORとは</h1>
</section>

<section class="use" id="use">
  <h1>使い方</h1>
</section>

<section id="how">
  <h1>お申し込みの流れ</h1>
</section>

<footer>
  <small>Made by <a href="https://rakam.co">Rakam Inc</a></small><br>
  <small>&copy;Rakam Inc All rights Reserved.</small>
</footer>
