// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  color: #272B2E;
}
section{
  width: 100%;
  max-width: 100%;
  height: 90%;
  text-align: center;
  position: relative;
  object-fit: cover;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.top{
  padding: 10px;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 80px;
  display: block;
}
.logo{
  float: left;
  padding-left: 60px;
  padding-top: 10px;
  color: #2E2F30;
}
.menu{
  float: right;
  padding-right: 40px;
}
.menu li{
  float: left;
  list-style: none;
  padding: 15px;
  font-weight: bold;
}
.menu li a{
  transition: all 0.2s ease;
  text-decoration: none;
  text-align: center;
  color: #2E2F30;
  outline: 0;
}
.menu li a:hover{
  color: #3ecdc6;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.menu li .login{
  border: 1px solid #3ecdc6;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #3ecdc6;
  background-color: #fff;
}
.menu li .login:hover{
  color: #fff;
  background-color: #3ecdc6;
  letter-spacing: 0;
}
.main{
  z-index: 1;
  background-image: url(..);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
  object-fit: cover;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.image{
  text-align: center;
  display: inline-block;
}
.company{
  width: 100%;
  max-width: 100%;
  height: 100px;
  text-align: center;
  position: relative;
  margin: 0;
  background-size: cover;
  border: 1px solid #cccccc;
  display: inline-block;

}
.type{
  display: inline-block;
  text-align: center;
}
.type li{
  float: left;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 80px;
  padding-left: 80px;
  list-style: none;
  text-align: center;
}
.type li:first-child{
  padding-left: 0;
}
.type li:last-child{
  padding-right: 0;
}
.use{
  background-color: #F7F7F7;
}

footer{
  text-align: center;
  margin: 0;
  padding: 30px;
  border-top: 1px solid #CCCCCC;
  background-color: #F7F7F7;
}
footer small{
  text-align: center;
  font-weight: bold;
  color: #999999;
}
footer small a{
  text-decoration: none;
  color: #3ecdc6;
}
footer small a:hover{
  border-bottom: 1px solid #3ecdc6;
}