// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  color: #272B2E;
}

$main_color: #3ecdc6;
$white: #fff;

$facebook: #3b5998;
$twitter: #00aced;
$google: #ea4335;

.top{
  padding: 5px;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 80px;
  display: block;

  .logo{
    float: left;
    text-align: center;
    padding-left: 70px;
    padding-top: 15px;
    color: #2E2F30;
  }
  .menu{
    float: right;
    padding-right: 40px;

    .home{
      padding-right: 70px;
      font-size: 20px;
      letter-spacing: 3px;
    }

    li{
      float: left;
      list-style: none;
      padding: 15px;
      font-weight: bold;

      a{
        transition: all 0.2s ease;
        text-decoration: none;
        text-align: center;
        color: #2E2F30;
        outline: 0;
      }
      a:hover{
        color: $main_color;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
      }
    }
  }
}
.new{
  width: 500px;
  height: 510px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #EFEFEF;
  display: inline-block;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 30px;
  .acount{
    border-bottom: 1px solid #CCCCCC;
    color: #999999;
  }
  //p{
  //  color: #fff;
  //  font-weight: bold;
  //  padding-top: 15px;
  //  width: 220px;
  //  height: 50px;
  //  margin: 15px;
  //  font-size: 13px;
  //  -webkit-border-radius: 2px;
  //  -moz-border-radius: 2px;
  //  border-radius: 2px;
  //  text-align: center;
  //  display: inline-block;
  //  box-shadow: 0 0 5px 5px #EFEFEF;
  //  transition: all 0.2s ease-out;
  //}
  //.facebook{
  //  background-color: $facebook;
  //}
  //.facebook:hover{
  //  letter-spacing: 1px;
  //  transition: all 0.2s ease-out;
  //}
  //.twitter{
  //  background-color: $twitter;
  //}
  //.twitter:hover{
  //  letter-spacing: 1px;
  //  transition: all 0.2s ease-out;
  //}
  //.google{
  //  background-color: $google;
  //}
  //.google:hover{
  //  letter-spacing: 1px;
  //  transition: all 0.2s ease-out;
  //}
  small{
    padding-top: 10px;
    color: #999999;
    margin: 40px;
    a{
      text-decoration: none;
      color: $main_color;
    }
    a:hover{
      border-bottom: 1px solid $main_color;
    }
  }
  #submit_button{
    color: $main_color;
    border: 1px solid;
    border-color: $main_color;
    box-shadow: none;
    transition: all 0.2s ease-out;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 7px;
    width: 220px;
    height: 50px;
    margin: 20px;
    font-size: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
  }
  #submit_button:hover{
    color: $white;
    background-color: $main_color;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  #new_user{
      width: 500px;
    input{
       padding: 10px;
       border-radius: 2px;
       font-size: 100%;
       margin: 15px;
     }
    #name{
      width: 20em;
      height: 3em;
      padding: 10px;
      font-size: 100%;
      border: 1px solid #CCCCCC;
    }
    #email{
      width: 20em;
      height: 3em;
      padding: 10px;
      font-size: 100%;
      border: 1px solid #CCCCCC;
    }
    #password{
      width: 20em;
      height: 3em;
      padding: 10px;
      font-size: 100%;
      border: 1px solid #CCCCCC;
    }
  }
  input{
    padding: 10px;
    border-radius: 2px;
    font-size: 100%;
    margin: 15px;
  }
  #email{
    width: 20em;
    height: 3em;
    padding: 10px;
    font-size: 100%;
    border: 1px solid #CCCCCC;
  }
  #password{
    width: 20em;
    height: 3em;
    padding: 10px;
    font-size: 100%;
    border: 1px solid #CCCCCC;
  }
}

